<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>wheter app</title>
{{>link}}
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.webp" type="image/x-icon">
</head>
<body>
{{>nav}}
<!-- end navbar -->

<!-- header -->
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
<div class="row">
<!-- left side div -->

<div class="col-md-6 col-12 main_header_right  ">
  <figure>

   <img src="img/404.png" alt="" class="img-fluid" title="AnandTechnical">
  </figure>   

 </div>
   <!-- right side div -->
    <div class="col-md-6 col-12 main_header_left ">
<p>Welcome to anand technical </p>
<h1>Oops!<span class=""> Error</span> Page</h1>
<a href="/"><button>Go-Back</button></a>

    </div>
 
    
</div>

</div>
    </div>
        </div>
<!-- footer -->

{{>footer}}
</body>
</html>